# Node modules
node_modules/

# Environment files
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Compiled and build files
dist/
build/
tmp/

# Database files
*.sqlite
*.db

# System & editor-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
